# Build
.build/
DerivedData/

# Swift Package Manager
.swiftpm/
Package.resolved

# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Temporary files
*.swp
*~
